html {
  font-size: 62.5%; /* 62.5% من 16px = 10px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #3f4649;
}
/***********************/
/* Gneral Reusable Components */
/***********************/
.heading-primary {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  background-color: #4da047;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  /*Put transition on original state*/
  transition: all 0.3s;
}

.btn--primary:link,
.btn--primary:visited {
  background-color: #4da047;
  color: white;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: #264d1f;
  color: white;
}

.btn--secondry:link,
.btn--secondry:visited {
  background-color: #fff;
  color: #3f4649;
}
.btn--secondry:hover,
.btn--secondry:active {
  /*Trick to add border inside*/
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #f1faef;
  color: #264d1f;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
/***********************/
/* Header */
/***********************/

.logo {
  height: 4rem;
}
.header {
  background-color: #f1faef;
  padding: 0 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*Because we want the header to be sticky later*/
  height: 9.6rem;
}

/***********************/
/* Navigation */
/***********************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.6rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #264d1f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 15px;
  background-color: #4da047;
  color: white;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.main-nav-link:active {
  background-color: #264d1f;
}
/***********************/
/*hero section*/
/***********************/

.hero {
  background-color: #f1faef;
  padding: 6.8rem 0 9.6rem 0;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero__description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.hero-btns {
  display: flex;
  gap: 2rem;
}

.Delivered-reports {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  gap: 1.6rem;
}
.Delivered-imgs {
  display: flex;
}
.Delivered-imgs img {
  width: 4.6rem;
  border-radius: 50%;
  border: 3px solid #f1faef;
  margin-right: -1.6rem;
}

.Delivered-imgs img:last-child {
  margin: 0;
}
.Delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.Delivered-text span {
  color: #264d1f;
  font-weight: 700;
}

/*Trusted by section*/
